name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-win-x64:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET 9 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Publish the project
        run: dotnet publish -c Release -r win-x64 -p:PublishReadyToRun=true -p:PublishSingleFile=true --no-self-contained

      - name: Archive the published output
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: HijackGen-ci-win-x64
          path: HijackGen/bin/Release/net9.0-windows/win-x64/publish

  build-win-x64-self-contained:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET 9 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Publish the project
        run: dotnet publish -c Release -r win-x64 -p:PublishSingleFile=true

      - name: Archive the published output
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: HijackGen-ci-win-x64-selfcontained
          path: HijackGen/bin/Release/net9.0-windows/win-x64/publish