name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - run: dotnet publish -c Release -r win-x64 -p:PublishReadyToRun=true -p:PublishSingleFile=true --no-self-contained
            name: HijackGen-ci-win-x64
          - run: dotnet publish -c Release -r win-x64 -p:PublishSingleFile=true --self-contained true
            name: HijackGen-ci-win-x64-selfcontained

    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - run: ${{ matrix.run }}

      - if: success()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: HijackGen/bin/Release/net10.0-windows7.0/publish